# Ignore environment files
test.env

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
.env/
.venv/

# Ignore other system files
.DS_Store
Thumbs.db